.historyBlock {
  padding-top: 170px;
  border-left: 1px solid rgba(66, 86, 122, 0.2);
  border-right: 1px solid rgba(66, 86, 122, 0.2);

  @media (max-width: 670px) {
    padding-top: 59px;
    border: none;
  }

  &Header {
    display: flex;
    align-items: center;
    gap: 78px;
    margin-left: -1px;

    @media (max-width: 670px) {
      gap: 0;
      margin-left: 0;
    }

    &Color {
      width: 5px;
      height: 120px;
      background: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%);

      @media (max-width: 670px) {
        display: none;
      }
    }

    &Title {
      font-size: 56px;
      font-weight: bold;
      color: var(--dark-blue);
      line-height: 1.2;

      @media (max-width: 670px) {
        font-size: 20px;
      }
    }
  }


  &Data {
    margin-top: 96px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    @media (max-width: 670px) {
      margin-top: 56px;
      gap: 0;
      justify-content: space-between;
    }

    &Title {
      font-size: 200px;
      font-weight: bold;
      line-height: .8;

      @media (max-width: 670px) {
        font-size: 56px;
        line-height: 1.3;

      }

      &Left {
        color: var(--iris);
      }

      &Right {
        color: var(--fuchsia);
      }
    }
  }
}