.historyHeader {
  display: flex;
  align-items: center;
  gap: 78px;
  margin-left: -1px;
  position: relative;
  padding-top: 170px;

  @media (max-width: 670px) {
    gap: 0;
    margin-left: 0;
    padding-top: 59px;
  }

  &Color {
    width: 5px;
    height: 120px;
    background: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%);

    @media (max-width: 670px) {
      display: none;
    }
  }

  &Title {
    font-size: 56px;
    font-weight: bold;
    color: var(--dark-blue);
    line-height: 1.2;

    @media (max-width: 670px) {
      font-size: 20px;
    }
  }
}

