@import "../../functions";

.historyData {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: scale(120);

  @media (max-width: 670px) {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  &Title {
    font-size: scale(200);
    font-weight: bold;
    line-height: .8;

    @media (max-width: 670px) {
      font-size: scale(56);
      line-height: 1.3;
    }

    &Left {
      color: var(--iris);
    }

    &Right {
      color: var(--fuchsia);
    }
  }
}